//- vi: ft=pug
table.table.table-sm.table-borderless
  tr: th: i.fa.fa-map-marker
    td.w-100: a(href='https://maps.apple.com?q=Rua do Alto da Fontinha 83, 4000-070 Porto, Portugal' target="_blank") Rua do Alto da Fontinha 83, 4000-070 Porto, Portugal
  tr: th: i.fa.fa-phone
    td.w-100: a(href='tel:+4917624772444') +49 176 24 77 24 44
  tr: th: i.fa.fa-envelope
    td.w-100: a(href='mailto:info@phikes.de?subject=Your Web CV') info@phikes.de
