//- vi: ft=pug
table.table.table-sm.table-borderless
  tr: th: i.fa.fa-map-marker
    td.w-100: a(href='https://maps.apple.com?q=Josefstraße 10, 40227 Düsseldorf' target="_blank") Josefstraße 10, 40227 Düsseldorf, Germany
  tr: th: i.fa.fa-phone
    td.w-100: a(href='tel:+4917624772444') +49 176 24 77 24 44
  tr: th: i.fa.fa-envelope
    td.w-100: a(href='mailto:info@phikes.de?subject=Your Web CV') info@phikes.de
