//- vi: ft=pug
table.table.table-sm
  tr: th: i.fa.fa-map-marker
    td: a(href='https://maps.apple.com?q=Roermonder Straße 313, 41068 Mönchengladbach' target="_blank") Roermonder Straße 313, 41068 Mönchengladbach, Germany
  tr: th: i.fa.fa-phone
    td: a(href='tel:+4917624772444') +49 176 24 77 24 44
  tr: th: i.fa.fa-envelope
    td: a(href='mailto:info@phikes.de?subject=Your Web CV') info@phikes.de
