h4 #[i.fa.fa-university] Education
hr
ul.list-unstyled
  li
    table.table.table-sm.table-hover.table-borderless
      tr: th Date
        td 2016
      tr: th Qualification Awarded
        td Bachelor of Science (Computer Science)
      tr: th Institution
        td RWTH Aachen University, Aachen, Germany
      tr: th Focus Subjects
        td: ul.list-inline
          li.list-inline-item.badge.badge-secondary Designing Interactive Systems
          li.list-inline-item.badge.badge-secondary Model Checking
          li.list-inline-item.badge.badge-secondary Software Engineering
  li
    table.table.table-sm.table-hover.table-borderless
      tr: th Date
        td 2011
      tr: th Qualification Awarded
        td general qualification for university entrance (Allgemeine Hochschulreife)
      tr: th Institution
        td Stiftisches Humanistisches Gymnasium, Mönchengladbach, Germany
      tr: th Focus Subjects
        td: ul.list-inline
          li.list-inline-item.badge.badge-secondary Computer Science
          li.list-inline-item.badge.badge-secondary Mathematics
          li.list-inline-item.badge.badge-secondary German
          li.list-inline-item.badge.badge-secondary Geography
  li
    table.table.table-sm.table-hover.table-borderless
      tr: th Date
        td 2008
      tr: th Qualification Awarded
        td intermediate school-leaving certificate (Fachoberschulreife)
      tr: th Institution
        td St. Wolfhelm Gymnasium, Schwalmtal, Germany
