h3 #[i.fa.fa-futbol-o] Hobbies
hr
ul.list-inline
  li.list-inline-item.badge.badge-secondary Climbing
  li.list-inline-item.badge.badge-secondary Surfing
  li.list-inline-item.badge.badge-secondary DIY
  li.list-inline-item.badge.badge-secondary Cooking
  li.list-inline-item.badge.badge-secondary Programming
  li.list-inline-item.badge.badge-secondary Travelling
  li.list-inline-item.badge.badge-secondary Founding
