h3 #[i.fa.fa-futbol-o] Hobbies
hr
ul.list-inline
  li.list-inline-item.badge.badge-default Climbing
  li.list-inline-item.badge.badge-default Surfing
  li.list-inline-item.badge.badge-default DIY
  li.list-inline-item.badge.badge-default Cooking
  li.list-inline-item.badge.badge-default Programming
  li.list-inline-item.badge.badge-default Travelling
  li.list-inline-item.badge.badge-default Founding
