.text-center.text-muted
    | Made with #[i.fa.fa-heart] and the help of 
    a(href="http://brunch.io" target="_blank") Brunch
    | ,  
    a(href="http://fontawesome.io/" target="_blank") Font Awesome
    | ,  
    a(href="http://konpa.github.io/devicon/" target="_blank") Devicon
    | ,  
    a(href="https://pugjs.org" target="_blank") pug
    |  and more
