.break-inside-avoid
  h4 #[i.fa.fa-info] Other
  hr
  ul
    li organizer of #[a(href="https://coding.earth/") coding.portugal]
    li scout group leader for 5 years
    li talks at local entrepreneurship groups
    li
      | frequent speaker at Cocoaheads AC  
      a(href="https://hci.rwth-aachen.de/cocoaheads" target="_blank" rel="noopener"): i.fa.fa-external-link
    li scrum master at Digital Mobility Solutions GmbH
