h3 #[i.fa.fa-info] Other
hr
ul
  li scout group leader for 5 years
  li talks at local entrepreneurship groups
  li requent speaker at Cocoaheads AC
  li Scrum Master at Digital Mobility Solutions GmbH
