.row
  .col-6
    h4 #[i.fa.fa-book] Consulting
    hr
    ul
      li
        | #[b Processes]
        p After #[b investigating] your existing workflow and processes #[i carefully] I can #[b suggest changes] and #[b identify bottlenecks] which prevent you from #[b unleashing your company's full potential].
      li
        | #[b Tools]
        p Through the years I was able to work with many different software tools. By carefully #[b analysing your specific needs] I can #[b suggest], as well as #[b install], #[b configure] and #[b maintain] different solutions to #[b streamline] your development process.
      li
        | #[b Methods]
        p I have worked with #[b Scrum, Kanban and different derivatives] which allows me to #[b choose] and #[b fine-tune] a solution for your particular situation. I support you in #[b analysing], #[b kicking off] and #[b maintaining] the method which #[b fits your needs].
  .col-6
    h4 #[i.fa.fa-coffee] Software Engineering
    hr
    ul
      li
        | #[b Business Analysis]
        p I can help you understand what your business and its processes #[b really are about] and how #[b they function]. This is the #[b groundwork for designing the software solution] you need.
      li
        | #[b Requirements Engineering]
        p #[b Identifying and formalizing] different areas of your software idea is necessary to set up the #[b path for a successful product]. I have #[b analysed the requirements] for many successful software projects, ranging from #[b apps to websites, mobile, desktop and even embedded].
      li
        | #[b Operations]
        p I can #[b maintain existing software systems] and #[b enhance operations] by e.g. introducing #[b monitoring] or #[b deployment solutions]. This will make your existing or new software project more #[b reliable and cost effective].
      li
        | #[b Implementation]
        p By #[b choosing the right technology] and #[b leveraging that technology] I can help you #[b build the exact software] you need. I can work as #[b project lead] in #[b small or large teams], as #[b developer] in a #[b team or even standalone].

hr
