ul.list-inline.text-center
  li.list-inline-item: a.text-muted(href="https://gitlab.com/phikes" target="_blank"): i.fa.fa-2x.fa-gitlab
  li.list-inline-item: a.text-muted(href="https://medium.com/@phillipkessels" target="_blank"): i.fa.fa-2x.fa-medium
  li.list-inline-item: a.text-muted(href="https://github.com/phikes" target="_blank"): i.fa.fa-2x.fa-github
  li.list-inline-item: a.text-muted(href="https://www.xing.com/profile/Phillip_Kessels" target="_blank"): i.fa.fa-2x.fa-xing
  li.list-inline-item: a.text-muted(href="https://twitter.com/phillipkessels" target="_blank"): i.fa.fa-2x.fa-twitter
  li.list-inline-item: a.text-muted(href="https://stackoverflow.com/users/1218081/phikes" target="_blank"): i.fa.fa-2x.fa-stack-overflow
