h3 #[i.fa.fa-briefcase] Work Experience
hr
ul.list-unstyled
  li
    table.table.table-sm.table-hover
      tr: th Date
        td 2016 - present
      tr: th Company
        td Digital Mobility Solutions GmbH (formerly tamyca GmbH), Aachen
      tr: th Position
        td Software Developer
      tr: th Responsibilities
        td frontend/backend development of a car sharing platform, knowledge management (corporate wiki)
      tr: th Technologies
        td
          ul.list-inline
            each technology in [ 'Ruby', 'Rails', 'Sinatra', 'PostgreSQL', 'Amazon Web Services', 'Vagrant', 'JavaScript', 'CoffeeScript', 'Ember.js', 'Confluence', 'Gitlab', 'Markdown', 'Git' ]
              li.list-inline-item.badge.badge-default
                i(class="devicon-"+technology.toLowerCase().replace(/\s/g, '')+"-plain")
                |  
                = technology
  li
    table.table.table-sm.table-hover
      tr: th Date
        td 2017 - present
      tr: th Company
        td cflights.eu, Mönchengladbach
      tr: th Position
        td Founder
      tr: th Responsibilities
        td development of a web and mobile flight search engine for young travellers in Europe with partnerships of Ryanair, Lufthansa, Booking.com, TripAdvisor, Rentalcars.com
      tr: th Technologies
        td
          ul.list-inline
          each technology in [ 'Ruby', 'Rails', 'PostgreSQL', 'Git', 'GitHub', 'TypeScript', 'AngularJS', 'Bootstrap' ]
              li.list-inline-item.badge.badge-default
                i(class="devicon-"+technology.toLowerCase().replace(/\s/g, '')+"-plain")
                |  
                = technology
  li
    table.table.table-sm.table-hover
      tr: th Date
        td 2012 - 2015
      tr: th Company
        td Plagge.IT - Software Development, Aachen
      tr: th Position
        td Student Assistant
      tr: th Responsibilities
        td autonomous maintenance and development of multiple projects in the agriculture and paper industry as well as '#[a(href="https://www.mi-camino.com" target="_blank") Mi Camino]' (online shop for individual souvenirs products)
      tr: th Technologies
        td
          ul.list-inline
            each technology in [ 'Ruby', 'Rails', 'SQLite', 'SVN', 'Vagrant', 'JavaScript', 'CoffeeScript', 'AngularJS', 'Confluence', 'Redmine', 'Markdown', 'Git' ]
              li.list-inline-item.badge.badge-default
                i(class="devicon-"+technology.toLowerCase().replace(/\s/g, '')+"-plain")
                |  
                = technology
  li
    table.table.table-sm.table-hover
      tr: th Date
        td 2012 - 2015
      tr: th Company
        td Phillip Kessels Softwareentwicklung, Aachen
      tr: th Position
        td Founder
      tr: th Responsibilities
        td project lead and development in a successful large-scale agricultural project (animal feeding machine)
      tr: th Technologies
        td
          ul.list-inline
            each technology in [ 'Ruby', 'Rails', 'PostgreSQL', 'Git', 'Bitbucket', 'JavaScript', 'C', 'Discrete Electronics', 'Reverse Engineering (Electronics)', 'Embedded Systems' ]
              li.list-inline-item.badge.badge-default
                i(class="devicon-"+technology.toLowerCase().replace(/\s/g, '')+"-plain")
                |  
                = technology
  li
    table.table.table-sm.table-hover
      tr: th Date
        td 2015 - 2016
      tr: th Company
        td pmax.cl, Chile (South America)
      tr: th Position
        td Founder, CTO
      tr: th Responsibilities
        td technical lead of a web and mobile application in the field of learning technologies
      tr: th Technologies
        td
          ul.list-inline
          each technology in [ 'Business Engineering', 'Ruby', 'Rails', 'PostgreSQL', 'Git', 'GitHub', 'JavaScript', 'CoffeeScript', 'Maxima', 'Numerical Computing' ]
              li.list-inline-item.badge.badge-default
                i(class="devicon-"+technology.toLowerCase().replace(/\s/g, '')+"-plain")
                |  
                = technology
