---
_options:
  layout: app/layouts/index.static.pug
---
.text-center.my-3
  img.rounded-circle.w-10(src="face.jpg")
  h1 Phillip Kessels
  h2 IT-Consultant & Software Engineer

.nav.justify-content-center
  li.nav-item
    a.nav-link(href="#services") #[i.fa.fa-check] Services
  li.nav-item
    a.nav-link(href="#cv") #[i.fa.fa-list-ul] Curriculum Vitae

hr

include partials/basic.static.pug

hr

.row
  .col-md-12
    h3#services #[i.fa.fa-check] Services
    hr
    include partials/services.static.pug
  .col-md-12
    h3#cv #[i.fa.fa-list-ul] Curriculum Vitae
    hr
  .col-md-6
    include partials/work.static.pug
  .col-md-6
    include partials/education.static.pug
    include partials/other.static.pug
    include partials/hobbies.static.pug


hr

include partials/social.static.pug
include partials/made_with.static.pug
