---
_options:
  layout: app/layouts/index.static.pug
  partials:
    - app/partials/basic.static.pug
    - app/partials/work.static.pug
    - app/partials/education.static.png
    - app/partials/social.static.pug
    - app/partials/hobbies.static.pug
    - app/partials/other.static.pug
    - app/partials/made_with.static.pug
---
.text-center.my-3
  img.rounded-circle.w-10(src="face.jpg")
  h1 Phillip Kessels
  h2 IT-Consultant & Software Engineer

hr

include partials/basic.static.pug

hr

.row
  .col-md-6
    include partials/work.static.pug
  .col-md-6
    include partials/education.static.pug
    include partials/other.static.pug
    include partials/hobbies.static.pug


hr

include partials/social.static.pug
include partials/made_with.static.pug
