$body-bg: #fafafa;
$body-color: #4e5558;
$link-color: $body-color;
$link-decoration: underline;
$hr-border-color: #8c8b8b;
$hr-border-width: 2px;

@import "node_modules/bootstrap/scss/bootstrap";

.fa-heart {
  color: darkred;
}

hr {
  border-style: dashed;
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    @for $i from 1 through $grid-columns {

      @media print {
        .col-print#{$infix}-#{$i} {
          @include make-col($i, $grid-columns);
        }
      }
    }
  }
}

@media print
{
  .break-inside-avoid {
    page-break-inside: avoid;
  }
}
