$body-bg: #fafafa;
$body-color: #4e5558;
$hr-border-color: #8c8b8b;
$hr-border-width: 2px;

@import "node_modules/bootstrap/scss/bootstrap";

.fa-heart {
  color: darkred;
}

hr {
  border-style: dashed;
}
